.loadMoreWrapper {
  display: flex;
  // height: 45px;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.topMangaWrapper {
  .topMangaMangaCard {

  }
}

.topMangasSpinner {
	display: flex;
	position: fixed;
	margin: auto;
	flex: 1;
	height: calc(-120px + 100vh);
	width: 100vw;
	align-items: center;
	justify-content: center;
  background-color: #222;
}

