.favouriteMangasEmptyWrapper {
  display: flex;
  flex: 1;
  height: calc(-120px + 100vh);
  justify-content: center;
  align-items: center;
}

.favouriteMangasWrapper {

}

// @media screen and (max-width: 750px) { 
//   .favouriteMangasWrapper { 	column-width: 150px; width: 98% }
//   .favouriteMangasWrapper figure { width: 100%; }
// }
